<!-- carrossel de slides -->

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/web3.jpg">
        </div>
<!--        <div class="carousel-item">-->
<!--            <img src="assets/web2.jpg">-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <img src="assets/web3.jpg">-->
<!--        </div>-->
    </div>
</div>


<!-- tem o jumbotron pra ficar abaixo do carrosel -->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead"> O controle de estoque é essencial para garantir uma boa gestão de sua loja.</p>
        </div>
<!--        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">-->
<!--            <a href="#" target="_blank">-->
<!--                <button type="button" class="btn btn-outline-secondary btn-lg">Teste</button></a>-->
<!--        </div>-->
    </div>
</div>

<!-- só um negocinho pra ficar bonito depois antes do rodapé -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1>Gestão de Estoque!</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">Buscando Controle de Estoque prático e integrado aos demais setores da sua empresa? Com o nosso sistema você tem a mais completa ferramenta de planejamento e organização de estoque. Conte não apenas com integração ao financeiro, mas também com o módulo de vendas e emissão de notas fiscais.</p>

        </div>
    </div>


</div>

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-plug fa-5x"></i>
            <h3>Destaques </h3>
            <p>Detalhamento do seu almoxarifado</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-shopping-cart fa-5x"></i>
            <h3>Destaques</h3>
            <p>Controle suas compras</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-laptop fa-5x"></i>
          <h3>Destaques</h3>
          <p>Eleve seu Controle</p>
        </div>


    </div>
</div>
