<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="assets/isidro-logo.png" height="25%">
                <hr class="light">
                <p> www.almoxarifado.com.br </p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>
                    Almoxarifado
                </h5>
                <hr class="light">
                <p> Almoxarifado e Gestão de Estoque</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>
                  Almoxarifado

                </h5>
                <hr class="light">
                <p> Fluxo de Logística de Materiais  </p>
                <p>
                    <a href="">Amoxarifado!</a>
                </p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5> &copy; www.almoxarifado.com.br </h5>


            </div>
        </div>
    </div>
</footer>
